body {
    background-color: #e6e6e6;
}
.mainheading {
    text-align: center;
    padding-top: 100px;
}
.mainsection {
    padding: 200px;
}
.section1 {
    text-align: left;
}
.section2 {
    text-align: right;  
}